#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: small;
}

table{
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	margin-left: auto;
  margin-right: auto;
}
th, td {
	border: 1px solid black;
	padding: 5px;
}
.date {
  margin: 0;
}
.name, .breed {
  text-align: left;
}

.count {
	width: 20px;
}

.time {
	width: 70px;
}


.test, .error {
	width: 25%;
	margin-left: auto;
  margin-right: auto;
}


	
